<p>Welcome to Angular</p>

<!-- uncomment to check  sandbox1 content -->
<!--
<sandbox></sandbox>
-->

<!-- uncomment to see the conents from sandbox2 -->
<!--
<sandbox2></sandbox2>
-->

<!--
<sandbox3></sandbox3>
-->

<!--
<sandbox32></sandbox32>
-->

<!-- Events, Forms and ng-bind -->

<!--
<Sandbox4> </Sandbox4>
-->

<!-- form submission and validation -->

<!--
<Sandbox5></Sandbox5>
-->

<!-- service component -->
<!-- 
<Sandbox6></Sandbox6>
-->

<!-- Http Service -->
<!--
<Sandbox62></Sandbox62>
-->
<app-navbar></app-navbar>
<div class="container">
<router-outlet></router-outlet>
</div>